<div class="login-container">
    <div class="mb-3">
        <div class="card-body">
            <div class="card-title mb-5">
                <h3 class="text-center">Login</h3>
            </div>
            <div class="card-text">

                <div class="kpx_form">
                    <div class="d-flex flex-row align-items-center kpx_socialButtons">
                        <a href="#" class="btn kpx_btn-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                            <i class="fa fa-facebook fa-2x"></i>
                        </a>

                        <a href="#" class="btn kpx_btn-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                            <i class="fa fa-twitter fa-2x"></i>
                        </a>

                        <a href="#" class="btn kpx_btn-google-plus" data-toggle="tooltip" data-placement="top" title="Google Plus">
                            <i class="fa fa-google-plus fa-2x"></i>
                        </a>
                    </div>
    
                    <div class="kpx_formOr">
                        <div class="kpx_hrOr"></div>
                        <span class="kpx_spanOr">or</span>
                    </div>
                </div>
    
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input class="form-control" id="password" placeholder="Password" type="password">
                </div>

                <div class="mt-4 d-flex flex-row align-items-center">
                    <button class="btn btn-primary mr-3">Login</button>
                    <div class="form-check ml-3">
                        <input class="form-check-input" type="checkbox" value="" id="remeberme-check" checked>
                        <label class="form-check-label" for="remeberme-check">
                            Remember me
                        </label>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>