<div class="trail-brief-view">
    <div class="trail-container d-flex">
        <div class="trail-image" *ngIf="image !== ''">
            <img src={{image}}>
        </div>

        <div class="trail-image" *ngIf="image === ''">
            <div class="no-image"></div>
        </div>

        <div class="trail-content">
            <div class="trail-name" *ngIf="sm === ''"><h4>{{ name }}</h4></div>
            <div class="trail-name" *ngIf="sm !== ''"><h6>{{ name }}</h6></div>
            <div class="trail-description" *ngIf="sm === ''">
                <p>{{ description }}</p>
            </div>

            <div class="trail-info">
                <div class="ratings-bar options" [innerHTML]=getStars()></div>
                <div class="views-bar options">
                    <i class="fa fa-eye mr-1"></i>
                    <span>{{ views }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
