<div class="trail-brief-view">
    <div class="trail-container d-flex">
        <div class="trail-image">
            <div class="no-image"></div>
            <!-- <img src="https://cdn-assets.alltrails.com/uploads/photo/image/22953605/extra_large_7eb0886fcd08e8df464e27db7a8c82b5.jpg"> -->
        </div>

        <div class="trail-content">
            <div class="trail-name"><h4>Springbrook Nature Center</h4></div>
            <div class="trail-description">
                <p>Springbrook Nature Center is a 1.6 mile lightly trafficked loop trail located near Itasca, Illinois that features
                beautiful wild flowers and is good for all skill levels. The trail is primarily used for hiking, nature trips, and bird
                watching.</p>
            </div>
            <div class="trail-info"></div>
        </div>
    </div>
</div>
