<style>
    .nav-mobile-spacer {
        height: 15px;
    }
</style>

<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid container">
        <a class="navbar-brand" [routerLink]="['/']">
            <b>GPS Trails</b>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" [routerLink]="['explore']">
                        Explore
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" [routerLink]="['addtrail']">Add a Trail</a>
                </li>
                <li class="nav-item nav-mobile-spacer"></li>
            </ul>

            <div class="d-flex ml-auto" *ngIf="!authStatus || authStatus?.loggedIn == false">
                <a [routerLink]="['register']">
                    <button class="btn btn-sm btn-primary" type="submit">Sign Up</button>
                </a>
                <a [routerLink]="['login']">
                    <button class="btn btn-sm ml-2 btn-outline-primary" type="submit">
                        Log In
                    </button>
                </a>
            </div>

            <div class="d-flex ml-auto" *ngIf="authStatus?.loggedIn == true">
                <div class="dropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                {{ authStatus?.user?.name }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/">Profile</a>
                                <a class="dropdown-item" href="/">Settings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" role="button" (click)="clickLogout()">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</nav>