<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/']">

            <b>GPS Trails</b>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" [routerLink]="['search']">
                        Explore
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Create Trail</a>
                </li>
            </ul>
            <div class="d-flex ml-auto">
                <a [routerLink]="['register']">
                    <button class="btn ml-2 btn-success" type="submit">Sign Up</button>
                </a>
                <a [routerLink]="['login']">
                    <button class="btn ml-2 btn-outline-primary" type="submit">
                        Log In
                    </button>
                </a>
            </div>
        </div>
    </div>

</nav>